.HomeView {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  gap: 1rem;
  padding: 3rem;
}

@media only screen and (max-width: 30em) {
  .HomeView {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
