.link-button,
.submit-button,
.arrow-button {
  --size: var(--base-size, 1rem);
  padding: calc(0.5 * var(--size)) calc(var(--size));
  font-size: var(--size);
  font-weight: bold;
  border-radius: 3px;
}

.link-button,
.submit-button {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.link-button {
  --base-size: 1.25rem;
}

.arrow-button {
  background-color: var(--color-black);
  color: var(--color-white);
}

.arrow-button:hover,
.arrow-button:focus {
  color: var(--color-secondary);
}
