.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.username {
  color: var(--color-secondary);
}

.editHeader {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.image {
  object-fit: scale-down;
  max-width: 100%;
  border-radius: var(--border-radius);
}

.description {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.controls {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1.5rem;
}

@media only screen and (max-width: 30em) {
  .description {
    font-size: 1rem;
  }
}
